<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/news.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <title>News</title>
  </head>
  <body>
    <header>
      <div class="first_block">
        <div class="logo-info">
          <img
            src="{{ url_for('static', filename='images/label_white.png') }}"
            alt="logo"
          />
          <div class="name-container">
            <p>Dmitriy</p>
            <p>Kotov</p>
          </div>
        </div>
        <ul class="nav">
          <li>
            <a href="{{ url_for('home') }}">Home page</a>
          </li>
          <li><a href="#footer">Contacts</a></li>
        </ul>
      </div>
      <hr />
    </header>
    <div class="header-info">
      <div class="name-background">
        <p>News</p>
      </div>
      <div class="content">
        <div class="content-name">
          <p>News</p>
        </div>
      </div>
    </div>
    <div class="table-info">
      <table>
        <tr>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details2.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details2.png') }}"
              alt="image"
            />
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details2.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details.png') }}"
              alt="image"
            />
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 30px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details2.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details.png') }}"
              alt="image"
            />
          </td>
          <td>
            <img
              src="{{ url_for('static', filename='images/watch_details2.png') }}"
              alt="image"
            />
          </td>
        </tr>
        <tr>
          <td style="padding-bottom: 60px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 60px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
          <td style="padding-bottom: 60px">
            <span style="color: #878787">11.01.2021</span><br /><strong
              >Dmitry Kotov's watch studio has been operating in Kyiv since
              2011.</strong
            ><br />We produce steel watches under the D. Kotov brand.<br />
            <a href="#" style="color: black; text-decoration: underline"
              >Read more</a
            >
          </td>
        </tr>
      </table>
    </div>
    <footer id="footer" class="footer">
      <div class="footer_container">
        <div class="footer-logo">
          <img
            src="{{ url_for('static', filename='images/logo_bottom.png') }}"
            alt="Logo"
          />
          <div class="footer-logo-text">
            <p>Dmitriy</p>
            <p>Kotov</p>
          </div>
        </div>
        <div>
          <p>+35809543214</p>
        </div>
        <div>
          <p>cotov@gmail.com</p>
        </div>
        <div class="footer-socials">
          <a href="#"
            ><img
              src="{{ url_for('static', filename='images/convert.png') }}"
              alt="Email icon"
          /></a>
          <a href="#"
            ><img
              src="{{ url_for('static', filename='images/facebook.png') }}"
              alt="Facebook icon"
          /></a>
          <a href="#"
            ><img
              src="{{ url_for('static', filename='images/instagram.png') }}"
              alt="Instagram icon"
          /></a>
        </div>
      </div>
    </footer>
  </body>
</html>
