<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/register.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
  </head>
  <body>
    <div class="background">
      <header class="header">
        <div class="first_block">
          <div class="logo-info">
            <img
              src="{{ url_for('static', filename='images/logo_top.png') }}"
              alt="logo"
            />
            <div class="name-container">
              <p>Dmitriy</p>
              <p>Kotov</p>
            </div>
          </div>
          <ul class="nav">
            <li><a href="{{ url_for('home') }}">Home page</a></li>
            <li><a href="{{ url_for('login') }}">Login</a></li>
          </ul>
        </div>
      </header>
      <div class="form-container">
        <h1>Register</h1>
        <form method="POST" action="{{ url_for('register') }}">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required />
          <br />
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
          <br />
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />
          <br />
          <button type="submit">Register</button>
        </form>
      </div>
    </div>
  </body>
</html>
